<!DOCTYPE html>
<html>

<body style="font-family: Poppins; margin: 0; padding: 0;">
    <div style="width: 100%;">
        <%- include('./main.ejs') %>
    </div>
    <%- include('./footer.ejs') %>
</body>

</html>