<div style="background-image: url(https://i.postimg.cc/c42QBCMX/Okay.png);
background-position: center;
background-repeat: no-repeat;
background-size: cover;
width: 100%;
height: 228px;
text-align: center;">
    <img src="https://i.postimg.cc/3rbLzKFD/success.png" alt="success" loading="lazy" />
</div>
<div style="background-color: #E5E5E5;
padding: 0 20px;
margin-top: -20px;">
    <div style="background-color: #fff; padding: 20px 0;">
        <div style="text-align: center;">
            <img src="https://i.postimg.cc/9QYK6dnx/techchak-01-2.png" style="width: 120px;
            height: 24px;" />
        </div>
        <div style="padding: 20px 20px;">
            <p style="font-family: 'Poppins';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 24px;
            color: #17191C;">Hi <%= name %>
            </p>
            <p style="font-family: 'Poppins';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 24px;
            color: #17191C;"> My name is Gabriel Olokunwolu, and I am Techchak’s CEO. I’d like to express my
                heartfelt gratitude for
                joining the Techchak family. One of the most significant advantages you will receive from us is access
                to
                exclusive hands-on projects in your area of specialization to help you grow your skills, as well as
                specially curated wikis tailored to your specialty. <br><br>

                We’ve also given you your own unique profile to showcase your project solutions, wiki, and skill sets in
                order to inspire and collaborate with your peers. In addition, we have a dedicated support group to
                assist
                you when you are stuck on a project. You should have already received an email with your login
                information
                so that you can begin exploring projects, wikis, and people with similar skill sets and
                interests.<br><br>

                If you have any questions, please contact us at info@techchak.com.</p>
            <p style="font-family: 'Poppins';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 24px;
            color: #17191C;
            margin-top: 40px;">Welcome to Techchak once more! </p>
            <div style="display: flex;
            align-items: center;
            justify-content: start;">
                <p style="font-family: 'Poppins';
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 24px;
                margin-right: 20px;
                border-right: 1px solid #C4C4C4;
                padding-right: 20px;
                color: #17191C;">Best Regards,<br><span style="font-weight: bold;">Gabriel
                        Olokunwolu</span><br>CEO
                </p>
                <img src="https://i.postimg.cc/MptCN0cW/ceo.png" style="width: 48px;
                height: 48px;" alt="CEO" loading="lazy" />
            </div>
        </div>
    </div>
</div>