<div style="background-image: url(https://i.postimg.cc/c42QBCMX/Okay.png);
background-position: center;
background-repeat: no-repeat;
background-size: cover;
width: 100%;
height: 228px;
text-align: center;">
    <img src="https://i.postimg.cc/3rbLzKFD/success.png" alt="success" loading="lazy" />
</div>
<div style="background-color: #E5E5E5;
padding: 0 20px;
margin-top: -20px;">
    <div style="background-color: #fff; padding: 20px 0;">
        <div style="text-align: center;">
            <img src="https://i.postimg.cc/9QYK6dnx/techchak-01-2.png" style="width: 120px;
            height: 24px;" />
        </div>
        <div style="padding: 20px 20px;">
            <p style="font-family: 'Poppins';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 24px;
            color: #17191C;">Hi <%= name %>
            </p>
            <p style="font-family: 'Poppins';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 24px;
            color: #17191C;"> Congratulations! You have been promoted to a Builder on Techchak. Being a Techchak
                builder in itself is seen as an honorary user title and it comes with so many benefits and
                responsibilities.
                Below are some of the benefits you get for being a Techchak builder; <br><br>
            <ul style="font-family: 'Poppins';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 24px;
            color: #17191C;">
                <li style="margin-top: 10px;">You can officially create projects, get credits for the projects and
                    invite fellows to do the
                    projects</li>
                <li style="margin-top: 10px;">You will be eligible for free AWS Credits to accelerate growth and
                    learning for yourself and others
                </li>
                <li style="margin-top: 10px;">You are seen as an endorsed guide to our users and learning community
                    looking for growth and
                    mentorship
                    in their career.</li>
                <li style="margin-top: 10px;">You are seen as an endorsed guide to our users and learning community
                    looking for growth and
                    mentorship
                    in their career.
                </li>
                <li style="margin-top: 10px;">You can request to create support groups for your mentees and take others
                    under your wing.
                </li>
            </ul>
            </p>
            <p style="font-family: 'Poppins';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 24px;
            color: #17191C;
            margin-top: 40px;">Cheers to expansion!</p>
            <p style="font-family: 'Poppins';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 24px;
            color: #17191C;
            margin-top: 40px;
            font-weight: bold;">Techchak Team</p>
        </div>
    </div>
</div>